<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F-Droid packages values viewer</title>
</head>
<body>
    <h1>F-Droid packages values viewer</h1>
        <p>Go to <a href="/app/org.fdroid.fdroid/versionCode/latest/values">/app/{packageName}/versionCode/latest/values</a> to view the values of the latest version of the app.</p>
        <p>Go to <a href="/app/org.fdroid.fdroid/versionCode/{versionCode}/values">/app/{packageName}/versionCode/1019003/values</a> to view the specific version.</p>
        <p><a href="/app/org.fdroid.fdroid/versionCode/1019003">/app/{packageName}/versionCode/1019003</a> view the version info (not implemented yet, WIP)</p>
        <p>/apps to view all apps. (not implemented yet, WIP)</p>
     <h1>API</h1>
        <p>/api/app_values?packageName={packageName:str}&versionCode={versionCode:int64}&valuesName={valuesName:str}</p>
        <p>/api/stats</p>
    <h1>Source Code</h1>
        <p>Source code is available at <a href="https://github.com/yzqzss/l10n-fdroid/">yzqzss/l10n-fdroid</a> & <a href="https://github.com/yzqzss/l10n-fdroid-web/">yzqzss/l10n-fdroid-web</a></p>
        <p>My code is messy</p>
</body>
</html>